.minicard__container{
    display: flex;
    width: 120px;
    height: 150px;
    background: #1E213A;
    flex-direction: column;
    color: aliceblue;
   justify-content: center;
   align-items: center;
   color: #E7E7EB;
  
}
.minicard__day{
font-size: 16px;
font-weight: 500;
}
.minicard__image{
    display: block;
    width: 46px;
height: 52px;
}
.minicard__image img{
    width: 100%;
}
.minicard__temp{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 500;

}
.minicard__temp-min{
    padding-left: 14px;
    color: #A09FB1;
    
}